@import "../../Sass/_reset.sass"
@import "../../Sass/_variables.sass"
@import "../../Sass/_fonts.sass"

.container
  display: flex
  flex-direction: column
  gap: 80px

  &__title
    font:
      family: Exo2_0
      size: 36px
    color: white
    text-align: center