@import "../../Sass/_reset.sass"
@import "../../Sass/_variables.sass"


.wrapper
  display: grid
  gap: 40px
  grid-template-columns: 1fr
  grid-template-rows: 1fr 1fr 1fr

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
    display: -ms-grid
    -ms-grid-columns: 1fr
    -ms-grid-rows: 1fr 1fr 1fr
  
  @media (min-width: $screen-tablet)
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: 1fr 1fr 1fr 1fr

  @media (min-width: $screen-tablet) and (-ms-high-contrast: none), (-ms-high-contrast: active)
    -ms-grid-columns: 1fr 1fr 1fr
    -ms-grid-rows: 1fr 1fr 1fr 1fr

  @media (min-width: $screen-desktop)
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    gap: 80px 